@model Item

<section>
    <p>Fill out this form!</p>

    <div asp-validation-summary="All" class="errorText"></div>

    <form enctype='multipart/form-data' asp-controller="Admin" asp-action="AddItem" method="post">
        <label>Name</label><input asp-for="Name" /> <br />
        <label>Description</label><input asp-for="Description" /> <br />
        <label>Price Minimum</label><input asp-for="PriceMin" /> <br />
        <label>Price Maximum</label><input asp-for="PriceMax" /> <br />
        <label>Rating</label><input asp-for="Rating" /> <br />
        <div class="form-group">
            <p>Upload one or more Images</p>
            <input type="file" name="files" multiple />
        </div>


        <input type="submit" value="Submit" />
    </form>

</section>