@model Item

<section>
    <p>Create a New Item</p>

    <div asp-validation-summary="All" class="errorText"></div>

    <form class="newItemForm" enctype='multipart/form-data' asp-controller="Admin" asp-action="AddItem" method="post">
        <div class="formItem"><label class="itemLabel">Name:</label><input asp-for="ItemName"/></div>
        <div class="formItem"><label class="itemLabel">Description:</label><input asp-for="ItemDescription" class="input multipleStringInput" /></div>
        <div class="formItem"><label class="itemLabel">Average price per hour:</label><input asp-for="Price"/> </div>
        <div class="formItem"><label class="itemLabel">Types:</label><input asp-for="Types" placeholder="Comma Separated List" /> </div>
        <div class="formItem"><label class="itemLabel">Rating:</label><input asp-for="Rating" placeholder="2.5/5"> </div>
        <div class="form-group formItem">
            <label class="itemLabel">Upload one or more Images</label>
            <input class="itemLabel" type="file" name="files" multiple />
        </div>
        <input type="submit" value="Submit" class="btn"/>
    </form>

</section>