@using Microsoft.AspNetCore.Identity
@using AspNetCore.Identity.Mongo.Model;

@inject SignInManager<MongoUser> SignInManager
@inject UserManager<MongoUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    if (UserManager.GetRolesAsync(SignInManager.UserManager.GetUserAsync(User).Result).Result.Contains("Administrator"))
    {
    }
<ul>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddItem">Add Item</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="GetAllUsers">View Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Public" asp-action="Index">View Items</a>
    </li>
</ul>
}