html {
    background-color:#CECECE;
}
nav {
    background-color: #F78888;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    vertical-align: middle;
    border-radius: 5px;
    width: 80%;
    display: block;
}
ul {
    display: inline;
    list-style-type: none;
    vertical-align: middle;
    padding: 8px;
}

li {
    float: left;
    vertical-align: middle;
    margin: auto;
}

a {
    display: block;
    margin: 8px;
    color:#000000;
}
    a:hover {
        color: #808080;
    }

    a:link {
        color: #000000;
        text-decoration: none;
    }


.container {
    background-color: #5DA2D5;
    padding: 10px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    width: 80%;
}

html {
    font-size: 14px;
}

.btn {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

body {
    margin-bottom: 60px;
}

.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 15px;
}

.errorText{
    color:red;
    font-weight:bold;
}

.itemLabel{
    color:#000000;
    padding:5px;
    text-align:right;
    display:inline-block;
    width:100px;
}

.pageBreak {
    border: 1px dotted #CECECE;
}

.multipleStringInput {
    width: auto;
    height: 150px;
    resize:none;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.newItemForm{
    width:100%;
    align-content:center;
    justify-self:center;
    justify-content:center;
}

.formItem{
    align-content:center;
}

.descriptionText {
    text-align: right;
    display: inline-block;
}

.itemText{
    justify-self:left;
}
.itemImages{
    justify-self:right;
}

.itemContainer {
    border: 2px solid #000000;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding: 10px;
    margin: 5px;
    height: 500px;
}