@model Item 


<label>Name</label>
<p>@Model.ItemName</p>
<br />
<label>Description</label>
<p>@Model.ItemDescription</p><br />
<label>Price</label>
<p>@Model.Price</p><br />
<label>Rating</label>
<p>@Model.Rating</p><br />
