@model Item 

<div class="itemText">
    <label class="itemLabel">Name:</label>
    <p class="descriptionText">@Model.ItemName</p>
    <br />
    <label class="itemLabel">Description:</label>
    <p class="descriptionText">@Model.ItemDescription</p>
    <br />
    <label class="itemLabel">Average Price:</label>
    <p class="descriptionText">$@Model.Price per hour</p>
    <br />
    <label class="itemLabel">Rating:</label>
    <p class="descriptionText">@Model.Rating</p>
    <br />
</div>

<div class="ItemImages">

</div>