@model Item
@using VegaN_Capstone.Models

@if (Model != null)
{
    <div>
        @if (Model.Images != null)
        {
            <div class="ImageSlideshow">

                @foreach (Image i in Model.Images)
                {
                    <div class="SingleImage">

                        <asp:Image ID="Image1" runat="server" />
                    </div>
                }


            </div>

            <div class="ImageSelection">

            </div>
        }
        else
        {
            <p>There are no images to display</p>
        }
        <label>Name</label>
        <p>@Model.ItemName</p>
        <br />
        <label>Description</label>
        <p>@Model.ItemDescription</p>
        <br />
        <label>Price Minimum</label>
        <p>@Model.Price</p>
        <br />
        <label>Rating</label>
        <p>@Model.Rating</p>
        <br />
    </div>

}